<!DOCTYPE html>
{% load static %}
<html>
<head>
	<meta charset="utf-8">
	<title>NES</title>

	<link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css" integrity="sha384-Vkoo8x4CGsO3+Hhxv8T/Q5PaXtkKtu6ug5TOeNV6gBiFeWPGFN9MuhOf23Q9Ifjh" crossorigin="anonymous">

	<link rel="stylesheet" type="text/css" href="{% static 'css/main.css' %}">
	<link rel="stylesheet" type="text/css" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.4/css/all.min.css">
	<link rel="stylesheet" type="text/css" href="{% static 'css/contacts.css' %}">

	<meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1, minimum-scale=1" />

	<script type="text/javascript">
		var user = '{{request.user}}'

		function getToken(name) {
	    let cookieValue = null;
	    if (document.cookie && document.cookie !== '') {
	        const cookies = document.cookie.split(';');
	        for (let i = 0; i < cookies.length; i++) {
	            const cookie = cookies[i].trim();
	            // Does this cookie string begin with the name we want?
	            if (cookie.substring(0, name.length + 1) === (name + '=')) {
	                cookieValue = decodeURIComponent(cookie.substring(name.length + 1));
	                break;
	            }
	        }
	    }
	    return cookieValue;
	}
	var csrftoken = getToken('csrftoken');
	console.log('CSRFTOKEN:',csrftoken)

	function getCookie(name) {
		    // Split cookie string and get all individual name=value pairs in an array
		    var cookieArr = document.cookie.split(";");

		    // Loop through the array elements
		    for(var i = 0; i < cookieArr.length; i++) {
		        var cookiePair = cookieArr[i].split("=");

		        /* Removing whitespace at the beginning of the cookie name
		        and compare it with the given string */
		        if(name == cookiePair[0].trim()) {
		            // Decode the cookie value and return
		            return decodeURIComponent(cookiePair[1]);
		        }
		    }

		    // Return null if not found
		    return null;
		}
		var cart = JSON.parse(getCookie('cart'))
		if (cart == undefined){
			cart = {}
			console.log('Cart Created!', cart)
			document.cookie ='cart=' + JSON.stringify(cart) + ";domain=;path=/"
		}
		
		console.log('Cart:', cart)	

	</script>


</head>

<body>


	<nav class="navbar navbar-expand-lg navbar-dark bg-dark ">
		<div class="badge bg-warning text-wrap text-center pl-3"><a class="navbar-brand text-dark" href="{% url 'store' %}">NES</a></div>
	  
	  <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
	    <span class="navbar-toggler-icon"></span>
	  </button>

	  <div class="collapse navbar-collapse" id="navbarSupportedContent">
	    <ul class="navbar-nav mr-auto">
	      <li class="nav-item active">
	        <a class="nav-link" href="{% url 'store' %}">Mağaza<span class="sr-only">(current)</span></a>
	      </li>
	      <li class="nav-item active">
        	<a class="nav-link" href="{% url 'contacts' %}">iletişim<span class="sr-only">(current)</span></a>
     	 </li>
	    </ul>
	    
	    <form class="form-inline my-2 my-lg-0" action="{% url 'search' %}" method="POST">
	    	{% csrf_token %}
      		<input class="form-control mr-sm-2" type="search" placeholder="Search" aria-label="Search" name="search">
      		<button class="btn btn-dark mr-2 mr-sm-2 " type="submit">Search</button>
    	</form>

	    <div class="form-inline my-2 my-lg-0">
	    {% if not auth %}

     	<a href="/accounts/login/"class="btn btn-dark mr-2 mr-sm-2">
     		Giriş
     	</a>
     	{%else%}
     	<a href="/accounts/logout/"class="btn btn-dark mr-2 mr-sm-2">
     		Çıkış
     	</a>
     	{%endif%}
     	
     	<a href="{% url 'sepet' %}">
    		<img  id="sepet-icon" src="{% static 'images/shopping-cart.png' %}">
    	</a>
    	<div class="totalCartitems" >{{cartItems}}</div> 
  

    </div>
	  </div>
	</nav>
	{%if auth%}
	<h5 style="text-align: center;"> Hoşgeldiniz {{user}}</h5>
	{%else%}
	{%endif%}
	{%if search_query%}
		<h6 class="mt-2 text-center text-primary">"{{search_query}}" için arama sonuçları.</h6>
	{%endif%}	
	
	<div class="container">
		<br>
		{% block content %}

		{% endblock content %}
	</div>
<!-- Footer -->
<footer class="bg-dark text-center text-white mt-3">
  <!-- Grid container -->
  <div class="container p-4">
    <!-- Section: Social media -->
    <section class="mb-4">
      <!-- Facebook -->
      <a class="btn btn-outline-light btn-floating m-1" href="#!" role="button"
        ><i class="fab fa-facebook-f"></i
      ></a>

      <!-- Twitter -->
      <a class="btn btn-outline-light btn-floating m-1" href="#!" role="button"
        ><i class="fab fa-twitter"></i
      ></a>

      <!-- Google -->
      <a class="btn btn-outline-light btn-floating m-1" href="#!" role="button"
        ><i class="fab fa-google"></i
      ></a>

      <!-- Instagram -->
      <a class="btn btn-outline-light btn-floating m-1" href="#!" role="button"
        ><i class="fab fa-instagram"></i
      ></a>

      <!-- Linkedin -->
      <a class="btn btn-outline-light btn-floating m-1" href="#!" role="button"
        ><i class="fab fa-linkedin-in"></i
      ></a>

      <!-- Github -->
      <a class="btn btn-outline-light btn-floating m-1" href="#!" role="button"
        ><i class="fab fa-github"></i
      ></a>
    </section>
    <!-- Section: Social media -->

    <!-- Section: Form -->
    <section class="">
      <form action="">
        <!--Grid row-->
        <div class="row d-flex justify-content-center">
          <!--Grid column-->
          <div class="col-auto">
            <p class="pt-2">
              <strong>Bültenimize kaydolun</strong>
            </p>
          </div>
          <!--Grid column-->

          <!--Grid column-->
          <div class="col-md-5 col-12">
            <!-- Email input -->
            <div class="form-outline form-white mb-4">
              <input type="email" id="form5Example2" class="form-control" />
              <label class="form-label" for="form5Example2">Mail Adresi</label>
            </div>
          </div>
          <!--Grid column-->

          <!--Grid column-->
          <div class="col-auto">
            <!-- Submit button -->
            <button type="submit" class="btn btn-outline-light mb-4">
              Abone Ol
            </button>
          </div>
          <!--Grid column-->
        </div>
        <!--Grid row-->
      </form>
    </section>
    <!-- Section: Form -->

    <!-- Section: Text -->
    <section class="mb-4">
      <p>
       NES, konuk ve oturum açmış kullanıcılar için kolay ödeme sağlayan tamamen işlevsel bir e-ticaret sitesidir.
      </p>
    </section>
    <!-- Section: Text -->


  <!-- Copyright -->
  <div class="text-center p-3" style="background-color: rgba(0, 0, 0, 0.2);">
    © 2020 Copyright:
    <a class="text-white" href="https://mdbootstrap.com/">NES private Ltd.</a>
  </div>
  <!-- Copyright -->
</footer>
<!-- Footer -->
	


	<script src="https://code.jquery.com/jquery-3.4.1.slim.min.js" integrity="sha384-J6qa4849blE2+poT4WnyKhv5vZF5SrPo0iEjwBvKU7imGFAV0wwj1yYfoRSJoZ+n" crossorigin="anonymous"></script>

	<script src="https://cdn.jsdelivr.net/npm/popper.js@1.16.0/dist/umd/popper.min.js" integrity="sha384-Q6E9RHvbIyZFJoft+2mJbHaEWldlvI9IOYy5n3zV9zzTtmI3UksdQRVvoxMfooAo" crossorigin="anonymous"></script>

	<script src="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/js/bootstrap.min.js" integrity="sha384-wfSDF2E50Y2D1uUdj0O3uMBJnjuUD4Ih7YwaYd1iqfktj0Uod8GCExl3Og8ifwB6" crossorigin="anonymous"></script> 

	<script type="text/javascript" src="{% static 'js/sepet.js' %}"></script>

</body>
</html>